/*Element*/
li{

}

/*class*/
.hello{

}
/*id*/
#name{

}
/*star*/
*{
  border: 1px solid lightgrey;
}

/*Descendant selectors: Gives all anchor tags inside a li a magenta color*/
li a{
  color: magenta;
}
/*adjacent selectors: Gives a red solid 4px border to all ul ajacent to a h4 header element*/
h4 + ul{
  border: 4px solid red;
}

/*atrribute selector: Selects all anchor tags with the attribute of "google.com" and gives them a light green background*/

a[href="http://www.google.com"]{
  background: lightgreen;
}

/*nth of type: chooses every EVEN (can be replaced with a number, odd, etc) li element and gives it a background of teal*/
li:nth-of-type(even){
  background: teal;
}
