/*style.css*/
/*date color: #3498db*/


h1{
  color: #2c3e50;
}

body{
  font-family: "Source Sans Pro", sans-serif;
  border: 20px solid #bdc3c7;
  margin: 5%;
}

div{
  margin: 20px;
  border-left: 50%;
}
